@import "tailwindcss";

@theme {
  --color-primary: #1e392a;
  --color-background-light: #f8f7f4;
  --color-text-light: #1e392a;
  --color-accent: #51946c;
  --color-border-light: #e5e7eb;

  --font-display: "Playfair Display", serif;
  --font-sans: "Work Sans", "Noto Sans", sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer utilities {
  .product-card .add-to-cart {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .product-card:hover .add-to-cart {
    opacity: 1;
    transform: translateY(0);
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}