---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CheckoutForm from "../components/CheckoutForm";
---

<Layout title="Checkout | The Everyday Shop">
    <div
        class="relative flex h-auto min-h-screen w-full flex-col group/design-root overflow-x-hidden"
    >
        <div class="layout-container flex h-full grow flex-col">
            <Header />
            <main class="flex-1">
                <div class="mx-auto max-w-7xl px-8 py-12">
                    <h1 class="font-display text-3xl font-semibold mb-8">
                        Checkout
                    </h1>
                    <CheckoutForm client:load />
                </div>
            </main>
            <Footer />
        </div>
    </div>
</Layout>
